<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加栏目</title>
    <style>
        td{
            height: 30px;
            padding: 1px;
        }
        select,input{
            width: 130px;
            height: 25px;
        }
    </style>
</head>
<body>
<table style="height: auto; width: 70%; align-content: center;" align="center">
    <caption><h1>添加栏目</h1></caption>
    <form action="__SELF__" method="post" >
        <tr>
            <td>栏目名称：<input type="text" name="lanmu_name" ></td>
        </tr>
        <tr>
            <td>栏目属性：<select name="lanmu_type" style="width: 120px;">
                <option selected="selected" value="0">请选择</option>
                <option value="0">显示</option>
                <option value="1">隐藏</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>栏目链接：<input type="text" name="lanmu_link"  value="例：控制器/方法"></td>
        </tr>
        <tr>
            <td>栏目排序：<input type="text" name="lanmu_ord" ></td>
        </tr>
        <tr>
            <td><input style="width: 50px" type="submit" name="submit"  value="添加" ></td>
        </tr>

    </form>
</table>


</body>
</html>